#magnifying-glass { 
    font-size: 10em; 
    display: inline-block; 
    width: 0.4em; 
    box-sizing: content-box; 
    height: 0.4em; 
    border: 0.1em solid red; 
    position: relative; 
    border-radius: 0.35em; 
}
#magnifying-glass:before { 
    content: ""; 
    display: inline-block; 
    position: absolute; 
    right: -0.25em; 
    bottom: -0.1em; 
    border-width: 0; 
    background: red; 
    width: 0.35em; 
    height: 0.08em; 
    transform: rotate(45deg); 
}

#base { 
    background: red; 
    display: inline-block; 
    height: 55px; 
    margin-left: 20px; 
    margin-top: 55px; 
    position: relative; 
    width: 100px; 
} 
#base:before { 
    border-bottom: 35px solid red; 
    border-left: 50px solid transparent; 
    border-right: 50px solid transparent; 
    content: ""; 
    height: 0; 
    left: 0; 
    position: absolute; 
    top: -35px; 
    width: 0; 
}